<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LIBRERIA | ALTA</title>
</head>

<body>
    <p>LIBRERÍA | ALTA</p>
    <hr />
    <form action="#" th:action="@{/alta.do}" th:object="${libro}" method="post">
        <label for="nombre">Nombre</label>
        <input type="text" th:field="*{nombre}" id="nombre" placeholder="Nombre" required>
        <label for="autor">Autor</label>
        <input type="text" th:field="*{autor}" id="autor" placeholder="Autor">
        <label for="precio">Precio</label>
        <input type="number" th:field="*{precio}" id="precio" placeholder="Precio">
        <input type="submit" value="Alta Libro">
    </form>
    <hr />
    <p><a href="/index.do">INICIO</a></p>
</body>

</html>